.about-us-container {
    width: clamp(300px, 80vw, 800px);
    /* margin: 0 auto; */
     padding: 30px;
    /* background-color: red; */
    text-align: justify;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .about-us-heading {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font: italic 0.5rem "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .about-us-content {
    font: 0.1rem "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }